/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5e6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293b;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
#navbar {
  overflow: hidden;
  background-color: #f6f6f6;
}
#navbar a {
  text-align: center;
  padding: 14px 16px;
  border-radius: 5px;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
#navbar a.active {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}
.top-header {
  width: 100%;
  margin: 0 auto;
  background: #f6f6f6;
  border: 1px solid #f1f1f1;
  color: #23293b;
}
.top-header h1 {
  text-align: center;
  font-size: 4rem;
  padding: 20px 0;
}
.top-header nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.top-header nav a {
  text-decoration: none;
  color: #454a59;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 30px 10px 0;
}
@media (max-width: 500px) {
  .top-header {
    width: 100%;
    margin: 0 auto;
    max-width: 98vw;
  }
  .top-header nav {
    padding: 0;
  }
  .top-header nav a {
    padding: 0 20px 10px 0;
  }
}
footer {
  color: #22283b;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  footer {
    width: 100%;
    margin: 0 auto;
    max-width: 98vw;
  }
}
.home .main-header {
  width: 100%;
  margin: 0 auto;
  max-width: 98vw;
}
.home .main-header img {
  width: 100%;
  margin: 0 auto;
  max-width: 98vw;
  border-radius: 5px;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 30%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: auto;
}
.home .space-images .station {
  width: 60%;
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.home .walk .walk-text {
  width: 46%;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .contact_us {
  width: 50%;
  margin-left: 4%;
}
.home .walk .contact_us .input-area {
  width: 100%;
  margin-bottom: 15px;
}
.home .walk .contact_us .btn {
  background: #22283a;
  color: #f1f1f1;
  font-size: 1.6rem;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.home .walk .contact_us .btn:hover {
  background: #f1f1f1;
  color: #22283a;
  font-size: 1.6rem;
  cursor: pointer;
  border: 1px solid #22283a;
}
@media (max-width: 500px) {
  .home {
    width: 100%;
    margin: 0 auto;
    max-width: 98vw;
    padding: 0 1%;
  }
  .home .main-header {
    max-width: 100vw;
  }
  .home .space-images img {
    width: 90%;
    margin: 20px auto;
  }
  .home .space-images .station,
  .home .space-images .launch {
    display: none;
  }
  .home .visit-planets {
    padding: 15px;
  }
  .home .visit-planets h3 {
    margin-top: 11px;
  }
  .home .visit-planets p {
    margin-top: 13px;
  }
  .home .walk {
    margin-top: 20px;
    padding: 20px 10px;
    flex-flow: column wrap;
    justify-content: center;
  }
  .home .walk .walk-text {
    width: 100%;
  }
  .home .walk .walk-text h3 {
    margin: 10px 0 0 0;
  }
  .home .walk .walk-text p {
    margin: 26px 0 0 0;
  }
  .home .walk .contact_us {
    width: 100%;
    margin: 15px auto;
  }
  .home .walk .contact_us .input-area {
    width: 100%;
  }
  .home .walk .contact_us .flex-item input {
    width: 100%;
    height: 25px;
    border-radius: 3px;
    margin-top: 3px;
  }
  .home .walk .contact_us .flex-item textarea {
    width: 100%;
    border-radius: 5px;
  }
  .home .walk .contact_us .flex-item .btn {
    background: #22283a;
    color: #f1f1f1;
    font-size: 1.6rem;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 20px;
  }
  .home .walk .contact_us .flex-item .btn:hover {
    background: #f1f1f1;
    color: #22283a;
    font-size: 1.6rem;
    cursor: pointer;
    border: 1px solid #22283a;
  }
}
